@media screen and (min-width:500px){
.echotd{
width:25%;
border:1px solid black;
text-align:center;
}
}
@media screen and (max-width:460px){
.echotd{
width:25%;
border:1px solid white;
color:white;
text-align:center;
}
iframe{
border:0px;
}
}
